# =============================================================================
# deployment.yaml
# =============================================================================
app:
  name: api
  replicas: 2
image:
  repository: ghcr.io/jian11442/joytify-api
  tag: d4d2d97dec05ee304cd1fc809fbb51e37a511b2f
  digest: "sha256:8a3300792e4acde2b5524af1aab57741b40b9122c5f19edc1b29760a90daec36"
imagePullSecrets:
  name: ghcr-secret # *
container:
  name: api-container
  port: 4004 # *
strategy:
  maxUnavailable: 1
  maxSurge: 1
# =============================================================================
# service.yaml
# =============================================================================
service:
  name: api-service # *
  type: ClusterIP
  port: 4004 # *
  targetPort: 4004 # *
# =============================================================================
# secret.yaml
# =============================================================================

# AWS Credential
awsCredentials:
  name: aws-credentials # *
  accessIdKey: access-key-id # *
  accessSecretKey: secret-access-key # *
# Secret Store
secretStore:
  name: aws-secrets-store
  aws:
    region: ap-northeast-1 # *
# External Secret
externalSecret:
  name: api-secret
  target:
    name: api-secret
    creationPolicy: Owner
  dataFrom:
    extract:
      key: JOYTIFY_APPLICATION_ENVS # *
# =============================================================================
# ingress.yaml
# =============================================================================
ingress:
  enabled: true
  domain: "api.joytify.org" # *
  clusterIssuer: "letsencrypt-prod" # *
# =============================================================================
# envs
# =============================================================================
envs:
  ORIGIN_APP: "https://joytify.org"
  API_PORT: 4004
  OFFICIAL_EMAIL: noreply@joytify.org
  TEST_EMAIL: onboarding@resend.dev
